<div>
  <link href="./component8.css" rel="stylesheet" />
  <div class="component8-container">
    <div class="component9-container">
      <span>
        <span>
          •Public access to online multimedia (e.g. YouTube, TikTok, cloud
          computing, massive online databases);
        </span>
        <br />
        <span>•</span>
        <span>
          Cinematic extensions via motion capture, realistic 3D animation,
          miniature cameras built into drones, etc.
        </span>
        <br />
        <span>•</span>
        <span>
          Initial use of AI-enhanced functions embedded into smart digital
          tools, many of them open-source (e.g. Blender)
        </span>
        <br />
        <span>•</span>
        <span>
          Massive expansion in ways that visual products are commodified,
          distributed, and consumed: cinema SFX, streaming-video pay sites (e.g.
          Netflix), ultra-realistic video games blending into VR, online
          libraries of high-res photos and 3D models, even so-called
          “non-fungible tokens” (NFTs).
        </span>
        <br />
        <br />
        <br />
        <br />
      </span>
    </div>
  </div>
</div>
