.component15-container {
  display: flex;
  position: relative;
}
.component15-text {
  font-size: 22px;
  max-width: 1400px;
  text-align: justify;
  font-family: Poppins;
  margin-left: 0px;
  margin-right: 0px;
}
.component15-text01 {
  font-size: 25px;
  font-weight: 700;
}
@media(max-width: 991px) {
  .component15-text {
    max-width: 100%;
  }
}
@media(max-width: 767px) {
  .component15-text {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}
