<div>
  <link href="./component13.css" rel="stylesheet" />
  <div class="component13-container">
    <span class="component13-text">
      <span>
        The ethical ramifications of AI-generated images are concerning and
        their potential to change society, its laws, and bylaws around the
        internet, and Netiquette is huge. Jiang (2022) presented an article
        wherein an art thief “captured” an ongoing Livestream of an artist’s
        painting, then proceeded to use an AI Image Generator to finish the work
        before the artist did so.
      </span>
      <br />
      <br />
      <span>
        A repeat of a similar situation could be an influential factor for
        artists to eventually avoid posting WIPs (work-in-progress art) or
        streaming their work in the future. Thankfully, the thief did not get
        away with it, but it has still set a precedent in the art world.
      </span>
      <br />
      <br />
      <span>The following speculative situations may also occur:</span>
      <br />
      <br />
      <span></span>
      <span></span>
    </span>
  </div>
</div>
