.component7-container {
  height: 132px;
  display: flex;
  position: relative;
}
.component7-text {
  max-width: 1400px;
  margin-top: 32px;
  text-align: justify;
  margin-bottom: 32px;
}
.component7-text2 {
  font-weight: 700;
}
.component7-text5 {
  font-weight: 700;
}
@media(max-width: 991px) {
  .component7-text {
    max-width: 100%;
  }
}
@media(max-width: 767px) {
  .component7-text {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}
