<div>
  <link href="./component7.css" rel="stylesheet" />
  <div class="component7-container">
    <span class="component7-text">
      <span>c. </span>
      <span class="component7-text2">
        Basic digital image/video processing.
      </span>
      <span>
        Throughout the 1970s-1990s, digital tech began to show its potential to
        revolutionize visual media and arts in various ways. Small and separate
        streams of innovation gradually converged into what became a gigantic
        river by the late 1990s.
      </span>
      <br />
      <br class="component7-text5" />
      <br />
      <br />
    </span>
  </div>
</div>
