<div>
  <link href="./component12.css" rel="stylesheet" />
  <div class="component12-container">
    <span class="component12-text">
      <span>
        There is often a tendency to equate the entirety of visual arts with (or
        have it represented by) the more aesthetic disciplines or genre (aka
        “fine arts”), as taught in art school, subjected to critical reviews,
        displayed in galleries, or at least created based on some high artistic
        standards and therefore expected to command a higher price for its
        intrinsic value.
      </span>
      <br />
      <br />
      <span>
        The other branches are often forgotten or deemed marginal. I.e., “I’m an
        artist, you’re in layout design, s/he’s just an effin’ Photoshop/Autocad
        implementor or grunt for an animation scene.”
      </span>
      <br />
      <br />
      <span>
        But let’s constantly remind ourselves that, throughout history, art has
        never really been separable from crafts (the production of materially
        useful goods and services), which in turn require certain degrees of
        personal and team skills—the result of which is that much of the visual
        arts created by society are not displayed in museums and galleries, not
        viewed in theaters and sold at auctions, but are embedded in other
        mundane things that we use every day: buildings (via architecture),
        appliances, furniture and wearables (via industrial and fashion design),
        books and magazines (layout), etc.
      </span>
      <br />
      <br />
      <span>
        Many areas of pre-digital creative media and arts—from crumbling
        artifacts of ancient cultures to recent analog libraries and
        artworks—are being given new leases on life and wider access by a huge
        global public with the help of digital visualization tools. AI is
        increasingly used to automate these otherwise tedious and error-prone
        archival/restoration processes. Examples that are clear in our chosen
        topic of AI-generated art are enhancement/restoration and colorization
        of old photographic images and films.
      </span>
      <br />
      <br />
      <span></span>
      <span></span>
    </span>
  </div>
</div>
