<div>
  <link href="./component10.css" rel="stylesheet" />
  <div class="component10-container">
    <span class="component10-text">
      <span>
        When Jason M. Allen, the winner of the competition, posted his three art
        entries online, it garnered a lot of protests from artists. They seem to
        claim that he cheated, that he was not an artist as it was made by a
        robot, likening it to a “Banana taped to a wall”. Allen disagrees,
        saying that he put a lot of work and effort into his art and that it
        wasn’t an easy process at all, claiming to put in over 80 hours of work
        into it, even needing to edit the final drafts before he could submit
        them as entries (Metz, 2022).
      </span>
      <br />
      <br />
      <span>
        Would this mean there would be an emergence of different kinds of
        artists? One that is neither traditional nor digital but something else
        entirely? An artist who uses AI-generated images from prompts and others
        to create artwork—an AI artist? A prompt engineer?
      </span>
      <br />
      <br />
      <span>
        But are they really artists if they didn’t do the heavy lifting that the
        AI is doing? There really isn’t such a term as “AI artists” because
        these people aren’t considered artists at all. If they aren’t artists,
        should their “works” be considered art? Would AI-generated art create an
        entirely new category in the art world?
      </span>
      <br />
      <br />
      <span>
        Another article featured an artist who created a children’s book through
        the use of artificial intelligence tools, ChatGPT, MidJourney, and
        others. It garnered a bit of backlash from people, saying that he was
        plagiarizing, questioning his expertise in writing children’s books, and
        even claiming that the whole book was not his work as it was all made by
        an AI. At the end of the article, the artist in question did acknowledge
        the concerns that various people had about the tools he used to create
        his work (Endicott, 2022).
      </span>
      <br />
      <br />
      <span>
        Apart from the implication of AI supposedly competing with human artists
        and the perceived threat to the job security of artists, there is also
        the ethical sphere that we may have to contend with. An example that
        garnered the concern of many was the incident wherein the style of the
        late artist Kim Jung Gi, well known for his photographic memory and
        freehand-inked works, was fed into an AI Image Generator to produce
        works that imitate Kim Jung Gi’s style. The backlash could be attributed
        to how untimely or distasteful the act was as the famous artist had only
        recently passed away when the AI-generated images were released.
        However, many artists, big or small, fear their works are being
        unceremoniously referenced by AI without their permission, which they
        view as “
      </span>
      <a href="#copyright" class="component10-link">art theft</a>
      <span>”(Foley, 2022).</span>
      <br />
      <br />
      <span>
        This point could be counter-argued that a human artist similarly
        references others too when creating an illustration/image, as renowned
        American filmmaker Jim Jarmusch says that “Nothing is original.” Adam
        Duff, better known as LUCIDPIXUL, argues that while the use of AI in
        itself is harmless, it is said that only when AI image generation is
        used to “hijack” the identity of an artist is it when it truly “crosses
        the line” (Duff, 2022).
      </span>
      <br />
      <br />
      <span>
        Duff insists that while an artist cannot claim or legally enforce an art
        style, the style of an artist is tied to their own identity. When an
        artist admires a master he/she/they would imitate or study the master’s
        work, as it made an impression on the artist. Can we say that the artist
        is engaging in unethical behavior? If we abide by Duff’s statement then
        the answer would be no (Duff, 2022).
      </span>
      <br />
      <br />
      <span>
        This back and forth between the pros and the nay-sayers can go on for
        eternity, as such the ethical concern will be a pressing matter while a
        consensus is still being debated.
      </span>
      <br />
      <br />
    </span>
  </div>
</div>
