<div>
  <link href="./component16.css" rel="stylesheet" />
  <div class="component16-container">
    <span class="component16-text">
      <span class="component16-text01">
        1. AI Improves/Changes Artists’ workflow
      </span>
      <br class="component16-text02" />
      <span>
        Artificial Intelligence helps lessen the time needed to produce work and
        is especially useful when an artist is bound by a time crunch (AI Art
        Shop, 2022). With AI Image Generators, it only takes a few parameters to
        have an artificially-engineered piece whose components, symmetry, and
        accuracy are dependent on how detailed the prompt is.
      </span>
      <br />
      <br />
      <span>
        The breakthrough of this technology and its introduction to the public
        offers a new look and new approach for the creative industry to try out.
        In a November 2022 article by California State University, a Bachelor of
        Fine Arts student shared how they were able to come up with a painting
        using a series of AI-generated artworks for brainstorming and as
        references.
      </span>
      <br />
      <span></span>
      <span></span>
    </span>
  </div>
</div>
