<div>
  <script
    type="text/javascript"
    src="https://unpkg.com/dangerous-html@0.1.11/dist/default/lib.umd.js"
  ></script>
  <link href="./component6.css" rel="stylesheet" />
  <div class="component6-container">
    <div class="component6-div">
      <dangerous-html
        html="<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
</head>
<body>

<div style='position: relative; width: 100%; height: 0; padding-top: 141.4286%;
 padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
 border-radius: 8px; will-change: transform;'>
  <iframe loading='lazy' style='position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;'
    src='https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFVE9zYjKM&#x2F;view?embed' allowfullscreen='allowfullscreen' allow='fullscreen'>
  </iframe>
</div>
<a href='https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFVE9zYjKM&#x2F;view?utm_content=DAFVE9zYjKM&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link' target='_blank' rel='noopener'>✓ (Completely Free)</a> by Xenia Yacat
</body>
</html>"
      ></dangerous-html>
    </div>
  </div>
</div>
