<div>
  <link href="./landing-page-content.css" rel="stylesheet" />
  <div class="landing-page-content-container">
    <h1 class="landing-page-content-heading-title">
      <span>Disruptive Technology</span>
    </h1>
    <h1 class="landing-page-content-heading-subtitle">
      <span class="landing-page-content-text">AI Image Generation and</span>
      <br class="landing-page-content-text1" />
      <span class="landing-page-content-text2">Creative Industries</span>
      <span></span>
      <br />
    </h1>
    <div class="landing-page-content-container1">
      <div class="landing-page-content-container-row">
        <div class="landing-page-content-container-1">
          <a href="d-e-e-p-d-i-v-e.html" class="landing-page-content-navlink">
            <div class="landing-page-content-containter-title-1">
              <button
                name="Deep Dive"
                class="landing-page-content-button button"
              >
                <span>Deep Dive</span>
              </button>
            </div>
          </a>
          <span class="landing-page-content-text5">
            <span>Get to Know AI Generation</span>
          </span>
        </div>
        <div class="landing-page-content-container-2">
          <div class="landing-page-content-container-title-2">
            <a
              href="d-i-s-r-u-p-t-o-n.html"
              name="Deep Dive"
              class="landing-page-content-navlink1 button"
            >
              <span>Disrupt: OFF</span>
            </a>
          </div>
          <span class="landing-page-content-text6">
            <span>
              Understanding how AI Image Generators are changing Creative
              Industries
            </span>
          </span>
        </div>
        <div class="landing-page-content-container-3">
          <div class="landing-page-content-container-title-3">
            <a
              href="b-e-y-o-n-d-g-e-n-e-r-a-t-i-o-n.html"
              name="Deep Dive"
              class="landing-page-content-navlink2 button"
            >
              <span>Beyond</span>
            </a>
          </div>
          <span class="landing-page-content-text7">
            <span>
              Peek at the larger picture and the future of AI Image Generation
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
