.landing-page-container {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 726px;
  display: flex;
  position: relative;
  align-items: flex-start;
  background-size: cover;
  background-image: url("public/playground_assets/background1-1500w.png");
}
